aside
    .close(class="close fl-center ps-absolute c-pointer t") &times;
    h1 Learning Template
    ul
        each lesson in lessons
            li
                a(href=`lesson/${lesson.id}`)=lesson.title