<aside class="site-sidebar ps-fixed">
    <div class="site-sidebar__inner h100 bar10px overflow-auto ps-relative">
        <% pages.forEach(page => { %>
            <div class="site-sidebar__item">
                <div class="site-sidebar__item-title ps-relative fl-center-v bar10px"><%= page.title; %></div>

                <% if (page.pages.length > 0) { %>
                    <div class="site-sidebar__children">
                        <% page.pages.forEach(childPage => { %>
                            <a href="<%= `${page.base}/${childPage.id}`; %>"
                               class="site-sidebar__child-item td-none fl-center-v txt_color_white overflow-hidden ab-full-b ps-relative">
                                <%= childPage.title; %>
                            </a>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        <% }); %>
    </div>
</aside>