extends ../template

block variables
    - var template = base;

block content
    .lesson(class="d-flex", data-lesson=`${id}`)
        .lesson__aside(class="txt_color_white")
            a(href="/", class="go-back t") Back
            include ../partials/aside
        .lesson__content
            block lesson_content