[data-page] {
  [data-aside] {
    width: clamp(300px, 21vw, 350px);
    padding: 4rem;
    background: rgba(33, 37, 41, 1);
    position: fixed;
    height: 100%;

    h1 {
      font-size: 2.5rem;
    }

    //  hide the aside
    &.hide {
      & a,
      & aside {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
      }

      & [data-close] {
        transform: rotate(45deg);

        & > span {
          transform: translateY(-2px) translateX(1px);
        }
      }
    }

    // active item
    aside {
      height: 100%;
      overflow: auto;

      li.active-base > a,
      li a.active {
        color: var(--color-primary);
      }
    }

    // menu item has children
    li.menu-item-has-children {
      & > a {
        width: 80%;
      }

      // trigger button
      button.expand {
        width: 40px;
        cursor: pointer;
        position: relative;
        background: transparent;
        border: none;

        &:after,
        &:before {
          content: '-';
          position: absolute;
          font-size: 30px;
          color: var(--color-primary);

          // position
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          transition: all .3s ease;
        }

        &:after {
          content: '+';
        }

        &.active:after,
        &:not(.active):before {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: translate(-50%, -50%) rotate(-45deg)
        }
      }
    }
  }

  [data-content] {
    width: 100%;
    padding: 6rem;
  }

  [data-close] {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: rgba(25, 113, 194, 1);
    padding-bottom: 0.2em;

    top: 2rem;
    left: calc(100% + 1rem);

    font-size: 2rem;

    & > span {
      transform: translateY(-2px);
    }

    &:hover {
      background: var(--color-primary);
    }
  }
}

// menu
ul.menu {

  // dot
  & li:before {
    content: unset;
  }

  // menu has children
  & li.menu-item-has-children {
    background: var(--color-secondary);
    padding: 2rem;
    border-radius: 5px;
  }

  // li not last child
  & > li:not(:last-child) {
    margin-bottom: 2rem;
  }

  // permalink
  & li a {
    text-decoration: none;
  }
}

// go back button
a.go-back {
  margin-bottom: 2rem;
  display: block;
  text-decoration: none;
  position: relative;

  &:before {
    content: '\2039';
    font-size: 1.5em;
    margin-right: 5px;
  }
}