p > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #272822;
  border-radius: 6px;
  color: #c9d1d9;
}

blockquote {
  padding: 0 1em;
  color: #8b949e;
  border-left: 0.25em solid #30363d;
  background-color: #27282214;

  p {
    padding: 0.5em
  }
}