li > code,
p > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #272822;
  border-radius: 6px;
  color: #c9d1d9;
}

blockquote {
  padding: 0 1em;
  color: #8b949e;
  border-left: 0.25em solid #30363d;
  background-color: #27282214;

  p {
    padding: 0.5em
  }
}

pre[class*=language-] {
  margin-bottom: $spacing-30 !important;
}

strong {
  font-weight: 700;
}

h1, h2 {
  border-bottom: 1px solid rgba(139, 148, 158, 0.3);
}

h1 {
  border-color: #ccc;
}