/* Colors */
$color-bg: #fff;
$color-text: #000;
$color-heading: $color-text;
$color-permalink: $color-text;
$color-permalink-highlight: #fff;

$color-primary: #ffcb08;
$color-primary-highlight: #c69d07;
$color-on-primary: #fff;

$color-secondary: #f6f6f6;
$color-secondary-highlight: #e0e0e0;
$color-on-secondary: #1c1c1c;

$color-error: #dd4b29;
$color-gray: #ccc;
$color-white: #fff;
$color-placeholder: #1d1b1b80;

/* Absolute font sizes (use exact number to identify) */
$size-50: 5rem;
$size-40: 4rem;
$size-35: 3.5rem;
$size-30: 3rem;
$size-20: 2rem;
$size-17: 1.7rem;
$size-16: 1.6rem;
$size-14: 1.4rem;

/* Relative font sizes */
$size-body: $size-17;
$size-h1: $size-50;
$size-h2: $size-35;
$size-h3: $size-20;
$size-h4: $size-17;
$size-h5: $size-16;
$size-h6: $size-16;

/* Fonts */
$font-primary: 'Plus Jakarta Sans';
$font-icomoon: "icomoon", fantasy;


/* Absolute spacing (vertical) */
$spacing-80: 8rem;
$spacing-75: 7.5rem;
$spacing-70: 7rem;
$spacing-60: 6rem;
$spacing-55: 5.5rem;
$spacing-50: 5rem;
$spacing-45: 4.5rem;
$spacing-40: 4rem;
$spacing-35: 3.5rem;
$spacing-30: 3rem;
$spacing-25: 2.5rem;
$spacing-20: 2rem;
$spacing-15: 1.5rem;
$spacing-10: 1rem;

/* Container */
$container: 119rem;

/* Transition */
$transition: all .3s ease;
$transition-slow: all .6s ease;

:root {
  /* Gap, width (horizontal) */
  --full-vw: 100%;
  --gap-container: 4rem; /* container paddings */
  --gap-side: calc((var(--full-vw) - var(--container)) * 0.5);
}