extends ../template

block variables
    - var template = 'webgl'

block content
    .lesson(class="d-flex", data-lesson=`${lesson}`)
        .lesson__aside(class="txt_color_white")
            a(href="/", class="go-back t") Back
            include ../partials/aside
        .lesson__content
            block lesson_content
            canvas#canvas