extends ../template

block variables
    - var template = 'home'

block content
    div(class="d-flex", data-page)
        div(class="txt_color_white", data-aside)
            include ../partials/aside
        div(data-content)
            h2 Homepage content