extends ../template

block variables
    - var template = 'home'

block content
    .home(class="d-flex lesson")
        .home__aside(class="lesson__aside txt_color_white")
            include ../partials/aside
        .home__content(class="lesson__content")
            h2 Homepage content (could be editable)