<%- include('../partials/head.ejs', {isHome: true}) %>

<%- include('../partials/aside.ejs'); %>

<div class="site-content" data-template="home">
    <div class="site-banner fl-center-v fw-wrap">
        <div class="site-banner__content">
            <div class="boil-content">
                <p>Boilp Template</p>
            </div>
        </div>
        <div class="site-banner__shape ar-1 bar-circle"></div>
    </div>
</div>

<%- include('../partials/end.ejs') %>